body{
  min-height: 100vh;
  min-width: 100vh;
  background-color: #3C4749;
  color: white;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}

p{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.actions button{
  padding: 8px 16px;
  font-size: 30px;
  border-radius: 10px;
  background-color: green;
  color: white;
}

.grid-container{
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  grid-template-columns: repeat(6,140px);
  grid-template-rows: repeat(2,calc(140px / 2 * 3));
}

.card {
  height: calc(140px / 2 * 3);
  width: 140px;
  border-radius: 10px;
  background-color: #3C4749;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.front-image{
  width: 60px;
  height: 60px;
}

.card.flipped{
  transform: rotateY(180deg);
}

.front, 
.back{
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.card .front{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.card .back{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='34.129' height='45' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 0%, 1)'/><path d='M2.51 1.597A23.682 23.682 0 000 1.72v32.65c2.18-2 4.176-4.072 5.844-5.915 3.188-3.523 9.14-2.133 10.242 2.488a5.048 5.048 0 01-.467 3.649c-1.5 2.829-3.843 2.848-5.616 2.316-1.343-.403-2.579.882-2.085 2.193.878 2.334 3.46 4.9 10.724 4.18 5.05-.5 10.712-4.53 15.487-8.911V1.72c-7.355.728-16.01 8.948-21.33 14.827-3.188 3.522-9.14 2.133-10.242-2.489a5.05 5.05 0 01.466-3.648C4.525 7.58 6.867 7.56 8.64 8.092c1.342.403 2.578-.88 2.085-2.192-.77-2.042-2.842-4.262-8.214-4.303z'  stroke-width='1' stroke='none' fill='hsla(259, 0%, 55%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}

.card .front {
  transform: rotateY(180deg);
}

.card img {
  width: 100%;
  height: auto;
}